.search-input {
    width: 100%;
    height: 60px;
    padding: 0 10px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 60px;
}

.logo .g {
    color: #4285F4;
}

.logo .o1 {
    color: #DB4437;
}

.logo .o2 {
    color: #F4B400;
}

.logo .l {
    color: #0F9D58;
}

.search-result {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.logo .e {
    color: #4285F4;
}

.logo {
    font-family: 'Product Sans', Arial, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn {
    width: 20%;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 10px;
}