<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IR Project | Search</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/search.css}">
<!--    <link rel="stylesheet" href="../static/css/search.css">-->
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">doodle.com</a>
    <a class="navbar-brand" href="/">Search</a>
    <a class="navbar-brand" href="/indexer">Indexer</a>
</nav>

<form>
    <div class="center-search">
        <div class="form-group">
            <label for="professionalSelect">Choose index:</label>
            <select class="custom-select" id="professionalSelect">
                <option value="Lucene">Lucene</option>
                <option value="Term-document">Term-document</option>
                <option value="Incidence-matrix">Incidence-matrix</option>
                <option value="Inverted-index">Inverted-index</option>
                <option value="Positional-index">Positional-index</option>
                <option value="Bi-word-index">Bi-word-index</option>
            </select>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="normalization">
            <label class="form-check-label" for="normalization">Normalization</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="steaming">
            <label class="form-check-label" for="steaming">Steaming</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="lemetization">
            <label class="form-check-label" for="lemetization">Lemetization</label>
        </div>
        <h1 class="logo mb-4">
            <span class="g">D</span>
            <span class="o1">o</span>
            <span class="o2">o</span>
            <span class="g">d</span>
            <span class="l">l</span>
            <span class="e">e</span>
        </h1>
        <label for="searchText"></label><input type="text" class="form-control" id="searchText"
                                               placeholder="Enter your search text">
        <input type="submit" class="btn btn-primary mt-2 search-btn">
    </div>
</form>

<h3 class="result">Result shows here</h3>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container p-3">
        <span class="text-muted">© 2024 IR Project. All rights reserved. FCI-Mu University</span>
    </div>
</footer>
</body>
</html>